@{
    ViewData["Title"] = "Home Page";
}

<h1>Jenny - Flight of the Conchords</h1>

<dl>
	<dt>Jenny</dt>
	<dd>Hello!</dd>

	<dt>John/Brian</dt>
	<dd>Hi</dd>

	<dt>Jenny</dt>
	<dd>Hello man sitting in the park</dd>
	
	<dt>John/Brian</dt>
	<dd>I just said 'hi', to a woman in the park</dd>

	<dt>Jenny</dt>
	<dd>How ya doin?</dd>

	<dt>John/Brian</dt>
	<dd>Mmm, good thanks</dd>

	<dt>Jenny</dt>
	<dd>You're lookin' good</dd>

	<dt>John/Brian</dd>
	<dd>Pardon?</dd>

	<dt>Jenny</dt>
	<dd>I said 'you're lookin' good'</dd>

	<dt>John/Brian</dd>
	<dd>Fair enough</dd>

	<dt>Jenny</dt>
	<dd>Jenny</dd>

	<dt>John/Brian</dd>
	<dd>Pardon?</dd>

	<dt>Jenny</dt>
	<dd>Jenny</dd>

	<dt>John/Brian</dd>
	<dd>No, I'm sorry, I think you've mistaken me for somebody else</dd>	

	<dt>Jenny</dt>
	<dd>No, it's me. I'm Jenny, my name is Jenny</dd>

	<dt>John/Brian</dd>
	<dd>Ah you're, ah... ah.. ha ha ha ha ha ha, oh, I thought oh... what a hilarious misunderstanding.  Nice to meet you Jenny</dd>

</dl>
