@{
    ViewData["Title"] = "Home Page";
}

<h1>Jenny - Flight of the Conchords</h1>

<dl>
	<dt>Jenny</dt>
	<dd>Hello!</dd>

	<dt>John/Brian</dt>
	<dd>Hi</dd>

	<dt>Jenny</dt>
	<dd>Hello man sitting in the park</dd>
	
	<dt>John/Brian</dt>
	<dd>I just said 'hi', to a woman in the park</dd>

	<dt>Jenny</dt>
	<dd>How ya doin?</dd>

	<dt>John/Brian</dt>
	<dd>Mmm, good thanks</dd>

	<dt>Jenny</dt>
	<dd>You're lookin' good</dd>

	<dt>John/Brian</dd>
	<dd>Pardon?</dd>

	<dt>Jenny</dt>
	<dd>I said 'you're lookin' good'</dd>

	<dt>John/Brian</dd>
	<dd>Fair enough</dd>

</dl>
